*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
.header{
    display: flex;
    justify-content: space-between;
    border:1px solid black;
    margin:10px;
}
.header img{
    width:80px;
}
.navItems >ul{
    display: flex;
    justify-content: center;
    list-style-type:none;
}
.navItems >ul >li{
    padding:10px;
}
.cards{
    display:flex;
    flex-wrap:wrap;
    margin:10px;

}
.card{
    width:200px;
    border:1px solid black;
    margin:10px;
    overflow: hidden;
}
.card > img{
    width:100%;
    
}